@font-face {
    font-family: 'timana';
    src: url(../fonts/Timmana-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Light.ttf);
    font-style: normal;
}