@media only screen and (max-width: 599px) {
    /* -----  Nav  ----- */
    .centrar {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-1.logo {
        width: 280px;
        align-self: center;
    }
    
    .header-1 > ul {
        flex-direction: column;
        background: var(--color-two);
        padding: 5px 30px;
        border-radius: 0 0 5px 5px;

        position: absolute;
        left: -170px;
        transition: 1s;
    }

    .header-1 .fas {
        display: block;
        color: whitesmoke;
    }

    .header-1 > ul > li {
        margin-bottom: 25px;
    }
    
    .dropdown:hover .features {
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {



    /* -----  HEADER  ----- */
    header {
        position: sticky;
    }

    .centrar {
        
    }


    /* -----  MAIN  ----- */
    .section-1-logo h2 {
        font-size: 2rem;
        margin: 0 0 -20px 48px;
    }

    .section-1-logo h1 {
        font-size: 4rem;
    }

    .section-2 {
        padding: 40px 10px;
    }



    /* -----  FOOTER  ----- */
    footer {
        padding: 40px 10px;
    }
}

@media only screen and (min-width: 1001px) {


    /* -----  HEADER  ----- */
    header {
        position: sticky;
    }

    .centrar {
        flex-wrap: nowrap;
    }
    


    /* -----  MAIN  ----- */
    .section-1-logo h2 {
        font-size: 3.3rem;
        margin: 0 0 -30px 67px;
    }

    .section-1-logo h1 {
        font-size: 6rem;
    }

    .section-2 {
        padding: 80px 10px;
    }



    /* -----  FOOTER  ----- */
    footer {
        padding: 40px 10px;
    }
}