@media only screen and (max-width: 599px) {
    /* -----  Nav  ----- */
    .centrar {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-1.logo {
        width: 220px;
        align-self: center;

        position: relative;
        z-index: 2;
    }
    
    .header-1 > ul {
        flex-direction: column;
        background: var(--color-two);
        padding: 80px 60px 20px;
        border-radius: 0 0 5px 0;

        position: absolute;
        top: 12px;
        left: -220px;
        transition: 1s;
        z-index: 1;
    }

    .header-1 .fas {
        display: block;
        color: whitesmoke;
    }

    .fas.fa-bars {
        position: absolute;
        top: 16px;
        left: 20px;
    }

    .fas.fa-times {
        position: absolute;
        top: 10px;
        left: 22px;
    }

    .header-1 > ul > li {
        margin-bottom: 30px;
    }
    
    .dropdown:hover .features {
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {



    /* -----  HEADER  ----- */
    header {
        position: sticky;
    }



    /* -----  MAIN  ----- */
    .section-1-logo h2 {
        font-size: 4rem;
        margin: 0 0 -50px 0;
    }

    .white-background {
        height: 42px;
    }

    .section-1-logo h1 {
        font-size: 2rem;
        letter-spacing: 5px;
    }

    .section-2 {
        padding: 40px 10px;
    }



    /* -----  FOOTER  ----- */
    footer {
        padding: 40px 10px;
    }
}

@media only screen and (min-width: 1001px) {


    /* -----  HEADER  ----- */
    header {
        position: sticky;
    }

    .centrar {
        flex-wrap: nowrap;
    }
    


    /* -----  MAIN  ----- */
    .section-1 {
        height: 800px;
    }

    .nombre {
        position: relative;
        top: 40px;
    }

    .section-1-logo h2 {
        font-size: 7rem;
        margin: 0 0 -89px 0;
    }

    .white-background {
        height: 80px;
    }

    .section-1-logo h1 {
        font-size: 3.75rem;
        letter-spacing: 7px;
        margin-bottom: 20px;
    }

    .section-2 {
        height: 700px;
        padding: 80px 10px;
    }

    .content {
        justify-content: space-between;
    }



    /* -----  FOOTER  ----- */
    footer {
        padding: 40px 10px;
    }
}